<section class="sacar container">
  <div class="wrapper">
    <img class="icone-sessao" src="assets/img/sacar.svg" alt="Ícone sacar" />
    <h1 class="titulo">Sacar</h1>
    <input
      class="input-padrao valor"
      type="number"
      placeholder="Valor"
      [(ngModel)]="saque.valor"
    />
    <button
      class="btn-azul"
      (click)="sacar()"
      [disabled]="saque.valor <= 0"
      *ngIf="!carregando; else spinner"
    >
      Sacar
    </button>
    <ng-template #spinner>
      <div class="spinner">
        <app-spinner></app-spinner>
      </div>
    </ng-template>
  </div>
</section>
