<section class="transferir container">
  <div class="wrapper">
    <img
      class="icone-sessao"
      src="assets/img/transferir.svg"
      alt="Ícone transferir"
    />
    <h1 class="titulo">Transferir</h1>
    <input
      class="input-padrao conta"
      type="number"
      placeholder="Número da conta destino"
      [(ngModel)]="transferencia.contaDestino.id"
      (change)="getContaDestino()"
    />
    <input
      class="input-padrao titular"
      type="text"
      placeholder="Nome do titular"
      [(ngModel)]="transferencia.contaDestino.cliente.nome"
      disabled
    />
    <input
      class="input-padrao valor"
      type="number"
      placeholder="Valor"
      [disabled]="!transferencia.contaDestino.id"
      [(ngModel)]="transferencia.valor"
    />
    <button
      class="btn-azul"
      (click)="transferir()"
      [disabled]="!transferencia.contaDestino.tipo || transferencia.valor <= 0"
      *ngIf="!carregando; else spinner"
    >
      Transferir
    </button>
    <ng-template #spinner>
      <div class="spinner">
        <app-spinner></app-spinner>
      </div>
    </ng-template>
  </div>
</section>
